:root{
  --app-header-height: 5rem;
  --app-header-and-connection-background-color: #282c34;
  --connection-module-width: 20rem;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--app-header-and-connection-background-color);
  min-height: var(--app-header-height);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header > h1 {
  margin: 0;
}

.App-header > p {
  font-size: 0.7rem;
  opacity: 0.7;
  margin: 0 0 1.5rem 0;
  align-self: flex-end;
}

.app-page{
  width : 100%;
  height : calc(100vh - var(--app-header-height));
  display: flex;
  justify-content: space-between;
  color : white;
  background-color: #191c23;
}